<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Lab09 - Ассиметричные шифры</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="/ascii">ASCII</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/base64">Base64</a>
        </li>
    </ul>
    <h5 class="text-center mt-4">Оригинальное сообщение: <%= originalText %></h5>
    <h5 class="text-center mt-4">Приватный ключ</h5>
    <p>{ <%= privateKey %> }</p>

    <h5 class="text-center mt-4">Параметры публичного ключа</h5>
    <p>n: <%= n %>, a: <%= a %></p>

    <h5 class="text-center mt-4">Публичный ключ</h5>
    <p>{ <%= publicKey %> }</p>

    <h5 class="text-center mt-4">Зашифрованное сообщение (<%= encodingTime %>мс)</h5>
    <p>{ <%= encrypted %> }</p>

    <h5 class="text-center mt-4">Расшифрованное сообщение (<%= decodingTime %>мс)</h5>
    <p><%= decrypted %></p>
</div>
</body>
</html>