<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Lab12 - ЭЦП</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav justify-content-center mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="/rsa">RSA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/el-gamal">Эль-Гамаля</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/schnorr">Шнорра</a>
        </li>
    </ul>
    <h2 class="text-center mt-4">Шнорра</h2>
    <h5 class="text-center mt-4">Оригинальное сообщение: <%= originalText %></h5>
    <h5 class="text-center mt-4">Публичный ключ (p, g, q, y)</h5>
    <p>(<%= publicKey.p %>, <%= publicKey.g %>, <%= publicKey.q %>, <%= publicKey.y %>)</p>

    <h5 class="text-center mt-4">Цифровая подпись S = {h, b} (<%= signTime %> мс)</h5>
    <p style="word-break: break-all; word-wrap: break-word;"><%= digitalSign %></p>

    <h5 class="text-center mt-4">Верификация подписи (<%= verificationTime %> мс)</h5>
    <p>Подпись достоверна? - <%= verified %></p>
</div>
</body>
</html>